<h1 class="page-title"><i class="glyphicon glyphicon-large glyphicon-folder-open"></i> Kategorie postów</h1>
<div class="column-layout">

  <div class="layout-column layout-column-1-of-3">
    <%= validation_errors @category %>
    <%= render partial: "#{action}_form" %>
  </div>

  <div class="layout-column layout-column-2-of-3">
    <table>
      <% if @categories.empty? %>
          <tbody>
          <tr><td>Nie ma żadnych kategorii. Stwórz nową po lewej stronie.</td></tr>
          </tbody>
      <% else %>
          <colgroup>
            <col class="large" />
            <col class="medium" />
            <col class="small" />
          </colgroup>

          <thead>
          <tr>
            <th>Nazwa</th>
            <th>Identyfikator</th>
            <th>Wpisów</th>
          </tr>
          </thead>

          <tbody>
          <%= render partial: 'category', collection: @categories, as: :category %>
          </tbody>
      <% end %>
    </table>
  </div>
</div>