#content > form {
  margin: -1em 0;
  > input {
    margin: 1em 0;
  }
  input[type='checkbox'] {
    vertical-align: middle;
    margin: 0;
    margin-right: 0.5em;
  }
  input[type='submit'] {
    width: 100%;
  }
  > label {
    font-weight: normal;
  }
}